[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]

decorator = "*"
ipython = "*"
ipython-genutils = "*"
jedi = "*"
numpy = "*"
pandas = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pygments = "*"
python-dateutil = "*"
pytz = "*"
scikit-learn = "*"
scipy = "*"
simplegeneric = "*"
sklearn = "*"
traitlets = "*"
wcwidth = "*"
matplotlib = "*"
pillow = "*"
